body {
    /* background-color: blue; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    margin: 0;
}

h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

#workspace-container {
    width: 100%;
    overflow:unset;
}

/* #row-content {
    width: 100px;
} */

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.5em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    table-layout:fixed;
    width:100%;
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
}

table th,
table td {
    padding: 12px 15px;
}

table th {
    text-align: center;
}

table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody td,
table thead th {
    width: 10%;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr td:nth-of-type(3),
table thead tr th:nth-of-type(4) {
    width: 80%;
}

table tbody tr td:nth-of-type(3) {
    text-align: left;
}

table tbody tr td:nth-of-type(2),
table tbody tr td:last-of-type,
table thead tr th:nth-of-type(3),
table thead tr th:last-of-type {
    width: 5%;
}

table tbody tr th:first-of-type,
table thead tr th:first-of-type {
    width: 0;
    display: none;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

table td + td { border-left:1px solid #dddddd; }

#drop_area {
    width: 80%;
    padding:60px;
    border: 1px solid black;
    text-align: center;
}