body {
    /* background-color: blue; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

#workspace-container {
    width: 100%;
    overflow:unset;
}

/* #row-content {
    width: 100px;
} */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.5em;
    font-family: sans-serif;
    width: 100%;
    max-width: 320px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#drop_area {
    width: 80%;
    padding:60px;
    border: 1px solid black;
    text-align: center;
}