body {
    /* background-color: blue; */
    min-width: 1400px;
    min-height: 100vh;
    /* overflow: scroll; */
}

main {
    display: flex;
    flex-direction: row;
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    width: 100%;
    max-width: 80%;
    margin: 1%;
    margin-top: 0;
}

/* Sidebar */
.sidebar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 15%;
    z-index: 600;
    /* height: 100%; */
    background-color: #009879;
    flex-basis: 100%;
    /* min-height: 140vh; */
}

.list-group {
    margin-top: 30%;
}

.list-group-item.active {
    color: #009879;
    background-color: #f3f3f3;
}

.list-group-item {
    background-color: transparent;
    color: #f3f3f3;
    font-size: 13px;
    font-weight: bold;
    padding-left: 1%;
    margin-top: 2px;
}

.sidebar {
    width: 20%;
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: 100%;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #009879;

}

header {
    min-width: 1400px;
    width: 100%;
}

#navbarNav{
    width: 100%;
}

.navbar {
    background-color: #009879;
    width: 100%;
}

.navbar-brand,
.nav-link {
    color: #f3f3f3;
}

.navbar-brand:hover,
.nav-link:hover {
    color: black;
    cursor: pointer;
}

#sidebar-toggle {
    position: absolute;
    z-index: 999;
    color: #f3f3f3;
    font-size: 35px;
    background-color: #009879;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
    text-align: center;
    width: 5rem;
    
}

#sidebar-toggle:hover {
    cursor: pointer;
    background-color: #01775f;
}

h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

#workspace-container {
    width: 100%;
    overflow: unset;
}

/* #row-content {
    width: 100px;
} */

.page-item.active .page-link{
    background-color: #009879;
    border-color: #009879;
    color: #f3f3f3;
}

.page-item .page-link {
    color: #009879;
}

table {
    border-collapse: collapse;
    font-size: 0.8em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 2%;
    table-layout:fixed;
    width:100%;
    margin-top: 1%;
}

table tr th {
    background-color: #009879;
    color: #ffffff;
}

table th,
table td {
    padding: 12px 15px;
}

table th {
    text-align: center;
}

table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

table tr {
    border-bottom: 1px solid #dddddd;
}

table tr td,
table tr th {
    width: 20%;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr td:nth-of-type(3),
table tr th:nth-of-type(3) {
    width: 70%;
}

table tr td:nth-of-type(3) {
    text-align: left;
}

table tr td:last-of-type,
table tr th:last-of-type {
    width: 10%;
}

table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tr.active {
    font-weight: bold;
    color: #009879;
}
.unfolded {
    /* height: 200px !important; */
    color: #009879;
}

.expand:hover {
    cursor: pointer;
    color: #009879;
}

table td + td { border-left:1px solid #dddddd; }

#drop_area {
    width: 80%;
    padding:60px;
    border: 1px solid black;
    text-align: center;
}

.applied-filter-bar {
    width: 100%;
    padding-right: 2%;
}

.filter-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter-items,
.applied-filter-bar,
.filter-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;

}

.applied-filter-bar .clear-form {
    width: 20%;
}

.filter-form {
    padding: 2%;
}

.filter-items {
    flex-wrap: wrap;
    padding: 2%;
    width: 80%;
}

.collapsed {
    display: none;
    flex-basis: 0%;
}

.expanded {
    padding-left: 5%;
}

.filter-item {
    font-size: 12px;
    margin-right: 2%;
    border: solid 1px #48584B;
    padding: 0.2rem;
    border-radius: 5px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
}

.filter-item form input {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 0.1rem;
}

.btn-secondary {
    width: 100%;
    height: 80%;
    background-color: #f3f3f3;
    color: #009879;
    border: #009879 solid 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #009879;
    color: #f3f3f3;
    border: none;
}

.btn-primary {
    margin-top: 3%;
    width: 100%;
    height: 100%;
    background-color: #009879;
    color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #01775f;
    border: 1px solid #f3f3f3;
}

.filter-form p,
.filter-form p input {
    width: 100%;
}

.filter-form p label {
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.filter-form p:last-of-type input {
    width: 100%;
    height: 100%;
    background-color: #009879;
    color: #f3f3f3;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    font-weight: bold;
}


.filter-form p:nth-of-type(3) input,
.filter-form p:nth-of-type(3) label,
.filter-form p:nth-of-type(5) label,
.filter-form p:nth-of-type(5) select {
    width: 70%;
}

.filter-form p:nth-of-type(4) label,
.filter-form p:nth-of-type(4) input {
    width: 110%;
    margin-right: 4%;
}


.alert {
    /* Center vertically and horizontally */
    /* position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); */
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;
    color: #48584B;
    font-weight: bold;
}


.upload-container {
    width: 50%;
    margin: 5%;
    margin-left: 5%;
    padding: 5%;
    border: solid 1px #48584B;
}

.upload-container h1 {
    margin-bottom: 4%;
    width: 80%;
}

.upload-container input {
    width: 50%;
}

.nohover:hover {
    background-color: transparent;
    color: #f3f3f3;
}

.nohover {
    font-size: 14px;
}