<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md">
                <a
                class="navbar-brand"
                href="{{ url_for('index')}}"
                >
                    ./logReader
                </a>
                <div class="navbar" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('upload_file')}}">Import</a>
                    </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Main Navigation-->

        <!--Main layout-->
        <main>
            <!-- Sidebar -->
            <div
            id="sidebarMenu"
            class="d-lg-block sidebar"
            >
                <div
                id="sidebar-toggle"
                onclick="collapseSideBar()">
                    &#8612;
                </div>
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3">
                        {% for filepath in case_dirs %}
                            {% if filepath[-28:] == file_uid %}
                                <a
                                href="{{ url_for('show_filtered', filename=filepath[-28:]) }}"
                                class="list-group-item list-group-item-action py-2 ripple active"
                                aria-current="true"
                                >
                                    <span>{{filepath[-28:]}}</span>
                                </a>
                            {% else %}
                                <a
                                href="{{ url_for('show_filtered', filename=filepath[-28:]) }}"
                                class="list-group-item list-group-item-action py-2 ripple"
                                aria-current="true"
                                >
                                    <span>{{filepath[-28:]}}</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                        {% if case_dirs|length > 0 %}
                            <form
                            method="GET"
                            action="{{ url_for('clear') }}">
                                <input type="submit" class="btn-primary" value="Clear Cases">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="container container-expand-md">
                {% block dragdrop %} {% endblock %}
                {% block workspace %} {% endblock %}
            </div>
        </main>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/UIHelper.js')}}"></script>
    </body>
</html>