{% extends 'base.html' %}

{% block sidebar %}
    
{% endblock %}

{% block dragdrop %}

{% endblock %}

{% block workspace %}
    <div id="workspace-container">
    {% if row_data %}
        <div class="filter-bar">
            <form method="POST"
            action="{{ url_for('filter_df', filename=file_uid) }}"
            enctype="multipart/form-data"
            class="filter-form">
                <p>
                    <label for="">
                        From
                    </label>
                    <input
                    type="datetime-local"
                    name="start-date"
                    my-date-format="YYYY/MM/DDThh:mm:ss">
                </p>
                <p>
                    <label for="">
                        To
                    </label>
                    <input
                    type="datetime-local"
                    name="end-date"
                    my-date-format="YYYY/MM/DDThh:mm:ss">
                </p>
                <p>
                    <label for="">
                        UID
                    </label>
                    <input type="dropdown" name="uid">
                </p>
                <p>
                    <label for="">
                        Find
                    </label>
                    <input type="text" name="find" >
                </p>
                <p>
                    <label for="">Type</label>
                    <select name="type">
                        <option value="NONE">-</option>
                        <option value="INFO">INFO</option>
                        <option value="ADYEN_NOTIFICATION">NOTIFICATION</option>
                        <option value="DEBUG">DEBUG</option>
                        <option value="ERROR">ERROR</option>
                    </select>
                </p>
                <p>
                    <label for=""></label>
                    <input type="submit" value="Apply">
                </p>
            </form>
            {% if active_filters %}
            <div class="applied-filter-bar">
                <div class="filter-items">
                    {% for date in filters['date'] %}
                        <div class="filter-item">
                            {{date[0]}} - {{date[1]}}
                            <form method="POST"
                            action="{{ url_for('remove_filter', filename=file_uid) }}"
                            enctype="multipart/form-data">
                                <input type="hidden" name="date" value={{date[0]}}>
                                <input type="submit" value=&#x2715>
                            </form>
                        </div>
                    {% endfor %}
                    {% for uid in filters['uid'] %}
                        <div class="filter-item">
                            uid: {{uid}}
                            <form method="POST"
                            action="{{ url_for('remove_filter', filename=file_uid) }}"
                            enctype="multipart/form-data">
                                <input type="hidden" name="uid" value={{uid}}>
                                <input type="submit" value=&#x2715>
                            </form>
                        </div>
                    {% endfor %}
                    {% for text in filters['find'] %}
                        <div class="filter-item">
                            "{{text}}"
                            <form method="POST"
                            action="{{ url_for('remove_filter', filename=file_uid) }}"
                            enctype="multipart/form-data">
                                <input type="hidden" name="find" value={{text}}>
                                <input type="submit" value=&#x2715>
                            </form>
                        </div>
                    {% endfor %}
                    {% for type in filters['type'] %}
                        <div class="filter-item">
                            type: {{type}}
                            <form method="POST"
                            action="{{ url_for('remove_filter', filename=file_uid) }}"
                            enctype="multipart/form-data">
                                <input type="hidden" name="type" value={{type}}>
                                <input type="submit" value=&#x2715>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <p>
                    <label for=""></label>
                    <form
                    class="clear-form"
                    method="GET"
                    action="{{ url_for('clear_filter', filename=file_uid) }}">
                        <input type="submit" class="btn-secondary" value="Clear">
                    </form>
                </p>
            </div>
            {% endif %}
        </div>
        {% if pagination %}
            <!-- {{ pagination.links }} -->
        {% endif %}
        <table>
            <tr>
                {% for col in column_names %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr class="folded">
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                    {{ row_ }}
                    <div class="expand" onclick="change(event);"> &darr; </div>
                </td>
                {% else %}
                <td>{{row_}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% if pagination %}
            {{ pagination.links }}
        {% endif %}
    {% else %}
        <h3 class="alert"> No logs imported. Upload log files to load content!</h3>
    {% endif %}
    </div>

    <script>
        function change(e){
            e = e || window.event;
            var target = e.target || e.srcElement;

            const currentClass = target.parentElement.parentElement.className;
            switch(currentClass){
                case "folded":
                target.parentElement.parentElement.className = "unfolded";
                expand(target);
                break;
                case "unfolded":
                target.parentElement.parentElement.className = "folded";
                fold(target);
                break;
            }
        }

        function expand(target) {
            extraRow = document.createElement('tr');
            extraRow.style.color = "red";

            emptytd1 = document.createElement('td');
            emptytd2 = document.createElement('td');
            emptytd3 = document.createElement('td');
            contenttd = document.createElement('td');

            pre = document.createElement('pre');
            pre.className = "json";
            parentText = target.parentElement.innerText;
            preText = parentText.substring(parentText.indexOf('{"'), parentText.lastIndexOf('}')+2);
            json = JSON.parse(preText);
            pre.innerText =  JSON.stringify(json, undefined, 2);

            extraRow.appendChild(emptytd1);
            extraRow.appendChild(emptytd2);
            contenttd.appendChild(pre);
            extraRow.appendChild(contenttd);
            extraRow.appendChild(emptytd3);

            extraRow.style.height = "300px !important";
            target.innerHTML = '&uarr;';
            target.parentNode.parentNode.after(extraRow);
        }

        function fold(target) {
            sibling = target.parentNode.parentNode.nextSibling;
            console.log(sibling.children[2].textContent.indexOf('{"'));
            if(sibling.children[2].textContent.indexOf('{') == 0){
                sibling.remove();
            }
            target.innerHTML = '&darr;';

        }
    </script>
{% endblock %}